a {
    color: rgb(33, 153, 153);
}

#nav {
    padding-bottom: 69px;
    padding-top: 68px;
    text-align: center;
    background: rgb(0, 0, 0);
}
body {
    margin: 0px;
}

.navElement {
    margin-left: 15px;
    margin-right: 15px;  
}
#hood {
    color: aqua;
}
#call{
    color: green;
}
#info{
color: aquamarine;
}
.spiralContainer {
    border-radius: 50%;
    width:200px;
    height:200px;
    overflow:hidden;
    margin:20px; 
}
.text {
    color: red;
}